body {
    background-color: pink;
}

.rating {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.item {
    background-color: rgb(198, 198, 198);
    -webkit-mask-image: url(star-icon.svg);
    mask-image: url(star-icon.svg);
    width: 50px;
    height: 48px;
    cursor: pointer;
}

.item-full {
    background-color: yellow;
}